.home {
  height: 100vh;
  background-image: linear-gradient(#6d9ac499, #6d9ac499), url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
